body{
    margin: auto;
}
.hero {
    background-image: url('images/Object.png');
}
.logo{
    margin: 15px; 
}
header{
    width: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    width: auto;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: auto;
}
a{
    text-decoration: none;
    justify-content: flex-end;
    margin: 0px; 
    padding: 0;
    color: white;
    margin: 20px 5px 0 0;
    padding: 10px 10px 10px 10px;
}
.container{
    text-align: center;
    justify-content: space-between;
}
h1{
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, 'Open Sans';
    font-weight: bold;
    font-size: 48px;
}
span{
    color: white;
    margin: 7px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    display: block;
    border-radius: 30px;
    background-color: hsl(271, 93%, 63%);
    color: hsl(208, 100%, 97%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin: 20px auto;
}
button:hover{
    background-color: hsla(270, 86%, 59%, 0.603);
}
h2{
    color: hsl(208, 100%, 97%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: hsl(0, 0%, 99%);
    text-align: center;
}
p{
    color: aliceblue;
    text-align: center;
}
.one .two .three .four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.second-section{
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(271, 93%, 63%);

}
.five{
    margin: 0 auto;
    padding: 0 auto;
}