body{
    margin: auto;
}
.hero {
    background-image: url('images/Object.png');
}
.logo{
    margin: 15px; 
}
header{
    width: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    width: auto;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: auto;
}
a{
    text-decoration: none;
    justify-content: flex-end;
    margin: 0px; 
    padding: 0;
    color: white;
    margin: 20px 5px 0 0;
    padding: 10px 10px 10px 10px;
}
.container{
    text-align: center;
    justify-content: space-between;
}
h1{
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, 'Open Sans';
    font-weight: bold;
    font-size: 48px;
}
span{
    color: white;
    margin: 7px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    display: block;
    border-radius: 30px;
    background-color: hsl(312, 68%, 50%);
    color: hsl(208, 100%, 97%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin: 20px auto;
}
button:hover{
    background-color: hsl(312, 91%, 32%);
}
h2{
    color: hsl(208, 100%, 97%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.smile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    column-gap: 2em;
    row-gap: 2em;
    padding: 0 auto;
}
h3{
    color: hsl(0, 0%, 99%);
    text-align: center;
}
p{
    color: aliceblue;
    text-align: center;
}
.quoteSection{
    display: flex;
    background-color: hsl(271, 85%, 60%);
}
.five{
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 50px;
}
.block{
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    float: right;
}
.videoList{
    display: flex;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
}
.name{
    color: hsla(0, 0%, 11%, 0.826);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.des{
    color: hsl(180, 1%, 20%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.smiles{
    justify-content: space-between;
    align-items: center;
}