body {
    display: flex; 
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

article, aside {
    overflow-y: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}