body {
    display: flex; 
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

article, aside {
    overflow-y: auto;
}

article, aside {
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
}

aside {
    flex: 1;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.logo {
    font-size: 2rem;
    margin-right: 20px;
    color: #1a237e;
    font-weight: bold;
}

.logo:hover {
    transform: rotate(10deg) scale(1.2);
    transition: transform 0.3s ease;
}